
div.comment {
  padding: 20px 30px ;
  margin: 40px auto;
  background-color: #f2f2f2cd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width:60% ;
  position: relative;
}

div.comment div.user-info{
  width: max-content ;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
div.comment div.user-info img{
border-radius: 50%;
width: 45px;
overflow: hidden;
height: 45px;
}
div.comment div.user-info .username{
  width: max-content ;
  color: #2a2a2a;
  font-weight: 500;
  font-size: 17px;
  padding: 4px 0 0px 13px;
}

div.comment div.user-info .date{
  width: max-content ;
  color: rgba(0, 0, 0,0.40);
  font-weight: 500;
  font-size: 13px;
  padding-left: 13px;
}

div.comment .comment-content{
  width: 100%;
  margin: 20px 0 15px;
  overflow-wrap: break-word;

}

div.comment .comment-img{
  max-width: 100%;
  min-width: 100%;
  display: block;
  height: 330px;
  margin: 10px auto;
  object-fit: cover;
}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
}

/*  Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {	
	.comments-container div.comment {
    border: 2px red solid;
    max-width: 70%;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
}

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  .comments-container div.comment {
    border: 2px red solid;
    max-width: 100%;
    padding: 20px 8px;
  }

}