
#modal-modal-title{
  margin-left: auto !important; 
  margin-right: auto !important;
}
.add-modal TextField{
  margin: 20px 0 !important;
}
.first-input{
  margin: 25px auto 0px !important;
  position: relative;
}
.inputs {
  margin: 15px auto !important;
}

