@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #F0F0F0;
}
.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.header-img {
  width: 100%;
}

.header-img img {
  width: 100%;
  object-fit: cover;
  height: 25vh;
}

.profile-img {
  position: absolute;
  top: 1rem;
  /* right: 100%; */
  left: -10%;
  transform: translateY(-50%);
  width: 140px;
  height: 150px;
}

.profile-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px solid #d6d6d6;
  border-radius: 10px;
}

.bio-infos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: flex-start; */
  /* flex-direction: column; */
  width: 50%;
  margin: 1rem;
}

.bio-infos h5 {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}

.friends {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.friends h6 {
  flex-shrink: 0;
}

.edit-btn {
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
background: #5C5858;
box-shadow: inset 0px -1px 0px rgba(14, 14, 44, 0.4);
border-radius: 4px;
}

.container-info {
  width: 100%;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  background-color: red;
}

@media (max-width: 970px) {
  .container-info{
    flex-direction: column;
    padding: 1rem;
  } 
  .profile-img {
    top: -2rem;
    transform: translateY(-50%);
  }
}
@media (max-width: 670px) {
  .container-info{
    flex-direction: column;
    padding: 1rem;
  } 
  .bio-infos{
    width: 350px;
  }
  .profile-actions{
    width: 350px !important;
    display: flex;
   justify-content: center;
  }
  .profile-img {
    position: absolute;
    top: -2rem;
    left: -20%;
    transform: translateY(-50%);
  }
}
@media (max-width: 520px) {
  .bio-infos{
    width: 280px;
  }
  .profile-actions{
    width: 280px !important;
    display: flex;
   justify-content: center;
  }
  .profile-img {
    position: absolute;
    top: -2rem;
    left: -10%;
    transform: translateY(-50%);
  }
}
@media (max-width: 350px) {
  .bio-infos{
    width: 90%;
  }
  .profile-actions{
    width: 90% !important;
    display: flex;
   justify-content: center;
  }
  .profile-img {
    position: absolute;
    top: -2rem;
    left: 5%;
    transform: translateY(-50%);
  }
}