.comments-container{
  width: 93%;
  margin: 40px auto;
  position: relative;
  padding: 20px;
}

.comments-container Button{
  position:absolute;
  right: 0;
  top: 0;
}

.comments-container Button:hover{
background-color: #2a2a2ad0;
}
.end-message{
  width: max-content;
  margin: 50px auto 0;
  color: #2a2a2a9c;
  font-size: 14px;
}

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  .comments-container{
    width: 100%;
    padding: 20px 10px;
  }
  
}