.comments-container{
  width: 93%;
  margin: 40px auto;
  position: relative;
  padding: 20px;
}

.comments-container Button{
  position:absolute;
  right: 0;
  top: 0;
}

.comments-container Button:hover{
background-color: #2a2a2ad0;
}
.end-message{
  width: max-content;
  margin: 0 auto;
  color: #2a2a2a9c;
  font-size: 14px;
}