.card-container {
  width: 90%;
  margin: 0.5rem auto;
  
}

.status-date{
  margin: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-status{
  background-color: rgb(0 171 13);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  text-align: center;
}
.closed{
  background-color: rgb(196, 0, 0)
}

.upcoming {
  background-color: rgb(193, 125, 0)
}

.read-btn Button{
  background-color: #181818;
}

.delete-event-btn{
  position: absolute !important;
  right: 0;
  top: 60%;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }