
div.event-details-header{
  min-height: 100vh;
}

div.event-details-header div.image-container{
  background-image: linear-gradient(180deg, #2e29294b, #fff);

}

div.event-details-header div.image-container img.event-cover-img{
  display: block;
  margin: 0 auto;
  max-width: 80% ;
  height: 280px;
}

div.event-details-header div.event-info-container{
  padding: 8px 0;
  width: 90%;
  margin:0 auto;
  border-bottom: 1.2px rgba(0, 0, 0, 0.304) solid;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.event-info-container p {
  padding: 2px 0;
  font-size: 14px;
  margin-top: 4px;
}
.event-status {
  width: max-content;
  padding: 0.2rem 0.8rem !important;
  margin-top: 7px !important;

}
div.event-info-container p.event-date{
  color: #E90808;
}
div.event-info-container .event-organizer{
  font-weight: 600;
}

div.event-info-container h2.event-name{
padding: 5px 0 10px;
font-size: 34px;
font-weight: 500;
color: #2a2a2a;
}

div.event-details-header div.event-btns-container{
display: flex;
justify-content: space-between;
padding: 8px 0;
width: 90%;
margin:0 auto;
flex-wrap: wrap;
}
  
div.event-btns-container div.btn-container  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
div.btn-container button{
  text-align: center;
  height: 42px;
}
div.btn-container Button:hover{
  background-color:#eeeeeeca;
}

div.event-btns-container div.btn-container Button{
padding: 0.6rem ;
margin: 0 5px;
color: #2a2a2a;
min-width: 120px;
width: max-content;
text-align: center;

}

div.event-btns-container Button {
  text-transform: capitalize;
  color: #2a2a2a;
}

.join-interest-btn{
  text-transform: capitalize !important;
}

@media (max-width: 992px) {	
div.event-btns-container div.btn-container Button{
    min-width: 120px;
  }
}

@media (max-width: 768px) {
  div.event-btns-container div.btn-container Button{
    margin-top: 5px;
  }
}

@media (max-width: 575.98px) { 

  div.event-details-header div.image-container img.event-cover-img{
    max-width: 100% ;
    height: 240px;
  }

  div.event-btns-container div.btn-container Button  {
  font-size: 14px;
}

.event-btns-container .taps{
  display: flex;
  flex-wrap: wrap;

}

.event-btns-container .taps .tab-comments, 
.event-btns-container .taps .tab-about {
  padding: 0px !important;
  width: 50px !important;
}

div.event-btns-container div.btn-container  {
  margin: 20px auto  0;
}
}
