
div.event-details-header{
  min-height: 100vh;
}

div.event-details-header div.image-container{
  background-image: linear-gradient(180deg, #2e29294b, #fff);
}

div.event-details-header div.image-container img.event-cover-img{
  display: block;
  margin: 0 auto;
  max-width: 80% ;
  height: 280px;
}

div.event-details-header div.event-info-container{
  padding: 8px 0;
  width: 90%;
  margin:0 auto;
  border-bottom: 1.2px rgba(0, 0, 0, 0.304) solid;
  position: relative;
}
div.event-info-container p {
  padding: 2px 0;
  font-size: 14px;
  margin-top: 4px;
}
.event-status {
  width: max-content;
  padding: 0.2rem 0.8rem !important;
  margin-top: 7px !important;

}
div.event-info-container p.event-date{
  color: #E90808;
}
div.event-info-container .event-organizer{
  font-weight: 600;
}

div.event-info-container h2.event-name{
padding: 7px 0 10px;
font-size: 34px;
font-weight: 500;
color: #2a2a2a;
}

div.event-details-header div.event-btns-container{
display: flex;
justify-content: space-between;
padding: 8px 0;
width: 90%;
margin:0 auto;
}
  
div.event-btns-container div.btn-container  {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
div.btn-container button{
  text-align: center;

}
div.btn-container :first-child:hover{
  background-color:#eeeeeeca;
}

div.btn-container :last-child:hover{
  background-color:#eeeeeeca;
}

div.event-btns-container div.btn-container Button:first-child,
div.event-btns-container div.btn-container Button:last-child
{
padding: 0.4rem ;
margin: 0 5px;
color: #2a2a2a;
width: 120px;
text-align: center;
}

div.event-btns-container Button {
  color: #2a2a2a;
}

.join-interest-btn{
  text-transform: capitalize !important;
}