.landing-container {
  position: relative;
  width: 100%;
  height: 92vh;
  color: rgb(255, 255, 255);
  background-image: url('https://images.pexels.com/photos/12756933/pexels-photo-12756933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.landing-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.399);
}

.landing-container .content {
  width: 40%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

.landing-container h1 {
  font-size: 3.5rem;
  color: #eee;
}

.landing-container p {
  padding: 1.5rem 0;
  text-align: center;
  color: #eee;
}
