@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

.landing-container {
  width: 100%;
  height: 85vh;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}


.landing-container img {
  width: 60%;
  height: 100%;
  border-radius: 0 8px 8px 0;
}

.landing-container .content {
  width: 50%;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  border-radius: 8px 0 0 8px;
}

.landing-container .content h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.landing-container .content p {
  padding: 2rem 0;
  color: #333;
}
