.box{
  height: 100%;
  overflow: scroll;
  /* padding: 50px 0; */
}
.box *{
  color: #2a2a2a;
}
h1{
  margin: 0;
  color: #2a2a2a;
  font-weight: 600;
}
p.secondary{
  margin: 0;
  color: #949090;
}
.mapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.add{
  font-size: 0.8rem;
  color: #2a2a2a;
  outline: 0;
  border: 0;
  background: transparent;
  margin-right: 1rem;
  cursor: pointer;
}
.container{
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  margin: 0 5%;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper {
  position: relative;
}