
.notification-state{
  position: absolute !important;
  right:  20px !important;
  top: 23px !important;
}

.menu-container {
  max-height: 520px;
}

.no-notification{
  text-align: center;
  padding: 0.5rem;
}