.about-event{
  margin: 20px auto 40px;
  padding: 8px 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-event h3{
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 10px;
  color: #2A2A2A;
}
.about-event .description-container{
  background-color: #f1f1f1b9;
  width: 48%;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: #2A2A2A;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 390px;

}
.about-event .participants-map{
  width: 48%;
  min-width: 390px;
}
.about-event  .participants-map .participants-container{
  background-color: #f1f1f1b9;
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.participants-container div {
display:flex;
justify-content: space-around;
width: 80%;
margin: 0 auto;
}

.participants-container div button{
  font-size: 15px;
  padding: 0.2rem 1rem ;
  width: 165px;
  color: #2A2A2A;
  text-align: center;
  background-color: #FFE5E5;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  border: none;
  }

  .participants-container div button span{
  display: block;
  font-weight: 500;
    }

    .hashtag-container{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 70%;
  }

.hashtag-container .hashtag-label{
  width: max-content;
  padding: 0 1.2rem;
  text-align: center;
  color: #2a2a2a;
  height: 37;
  border-radius: 20px;
  margin: 5px 5px 0 0;
}



.about-event  .participants-map  .map-container{
  margin-top: 30px;
  background-color: #f1f1f1b9;
  border-radius: 8px;
  overflow: hidden;
  height: 360px;
  position: relative;
}


.map-container p{
  padding: 15px;
}




/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
  
}

/*  Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {	

  .about-event {
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-event .description-container{
    margin-bottom: 25px;
  }


  .participants-container div {
    display:flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
}

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  .about-event {
    width: 95%;
  }
  .hashtag-container{
  
    width: 100%;
  }

  .about-event .participants-map{
    width: 100%;
  }
  .about-event .description-container{
    background-color: #f1f1f1b9;
    width: 100%;
    min-width: 250px;
  
  }
  .about-event .participants-map{
    width: 100%;
    min-width: 250px;
  }
}
