.about-event{
  margin: 40px auto;
  padding: 8px 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.about-event h3{
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 10px;
  color: #2A2A2A;
}
.about-event .description-container{
  background-color: #f1f1f1b9;
  width: 48%;
  padding: 8px 20px 50px;
  border-radius: 8px;
  color: #2A2A2A;
  height: max-content;
}
.about-event .participants-map{
  width: 48%;
}
.about-event  .participants-map .participants-container{
  background-color: #f1f1f1b9;
  padding: 20px 30px;
  border-radius: 8px;

}
.about-event  .participants-map  .map-container{
  margin-top: 30px;
  background-color: #f1f1f1b9;
  border-radius: 8px;
}
.participants-container div {
display:flex;
justify-content: space-around;
width: 80%;
margin: 0 auto;
flex-wrap: wrap;
}
.participants-container div button{
  font-size: 15px;
  padding: 0.2rem 1rem ;
  width: 165px;
  color: #2A2A2A;
  text-align: center;
  background-color: #FFE5E5;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  border: none;
  }

  .participants-container div button span{
  display: block;
  font-weight: 500;
    }

    .hashtag-container{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
  }

.hashtag-container .hashtag-label{
  width: max-content;
  padding: 0 1.5rem;
  text-align: center;
  color: #2A2A2A;
  height: 37;
  line-height: 33px;
  margin-left:10px;
  border-radius: 20px;
  margin-top: 6px;
}

.map-container{
  margin-top: 30px;
  background-color: #f1f1f1b9;
  border-radius: 8px;
  /* overflow: hidden; */
  height: 400px;
  position: relative;
}


.map-container p{
  padding: 15px;
}
